body 
{ 
	background-color:#ededed;
}
#container 
{ 
	width:600px; margin:0 auto; 
}
#Surface 
{ 
	background:#fff; 
	border:1px solid #cbcbcb; 
}

.ball {
    border-radius: 4px;
    background-color: #3C3C3C;
}


