body 
{ 
	background-color:#ededed;
	font:normal 12px/18px Arial, Helvetica, sans-serif; 
}
#container 
{ 
	width:600px; margin:0 auto; 
}
#Surface 
{ 
	background:#fff; 
	border:1px solid #cbcbcb; 
}


